<div class="d-grid gap-2 col-6 mx-auto">
  <%=link_to "NUEVO REGISTRO", new_client_path, class:"btn btn-primary" %>
</div>

<h1 class="margin-50">Alumnas de <%=current_user.email%></h1>
<% @clients.each do |client| %>
    
    <h1><%=link_to client.name, client %></h1>
    
    <div>
        <%= button_to "Eliminar", client, class: "btn btn-outline-danger",method: :delete %>  
    </div>
    
<%end%>

