<div class = "container_card">
    <div class="card text-white bg-primary mb-3 " style="width: 30rem;">
    <div class="card-header">
        CLIENTA
    </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item border-primary mb-0 text-center">NOMBRE: <%= @client.name.upcase%> </li>
            <li class="list-group-item border-primary mb-0 text-center">PRIMERA INSCRIPCION: <%=@client.created_at.strftime("%m/%d/%Y")%></li>
            <li class="list-group-item border-primary mb-0 text-center"><%=link_to "EDITAR", edit_client_path(@client), class:"btn btn-outline-primary"%></li>
        </ul>
    </div>
</div>  