<div class="container-fluid">
<h1 class="text-capitalize text-center"><%=@product.name %></h1>
    <div class="d-flex">
        <%if @product.image.present?%>
            <div class="w-75">
                <%= image_tag url_for(@product.image) %>   
            </div> 
        <%end%>
        <div class="product_description">    
            <%= @product.description %>            
        </div>        
    </div>
    
    <div> <%=link_to "EDITAR", edit_product_path(@product), class:"btn btn-outline-primary"%></div>
</div>