<div class="d-grid gap-2 col-6 mx-auto">
  <%=link_to "NUEVO REGISTRO DE SUSCRIPCION", new_subscription_type_path, class:"btn btn-primary" %>
</div>

<div>
  <% @subscription_types.each do |subscription| %>
      
      <h1><%=link_to subscription.name, subscription %></h1>
      <h1><%=link_to subscription.total, subscription %></h1>
    
      <div>
          <%= button_to "Eliminar", subscription, class: "btn btn-outline-danger",method: :delete %>  
      </div>
      
  <%end%>  
</div>